//common styles for admin-pages

.admin {
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

.admin__wrapper {
	width: 1180px;
	@include clearfix();
}

.admin__head {
	@include clearfix();
	padding-bottom: 16px;
	border-bottom: 1px solid #dddddd;

	a {
		@include font-param(14px, 41px, 400, #4ba82e);
		float: right;
	}

}

.admin__pagination {
	float: left;
	min-width: 75px;
}

.admin__howmuch {
	@include font-param(13px, 32px, 400);
	margin-top: -6px;
	float: right;

	span {
		display: inline-block;
		margin-right: 4px;
	}

}

.admin__filters {
	padding-bottom: 28px;
}

.admin__title {
	@include font-param(28px, 0, 500);
	display: inline-block;
}

.admin__table {
	@include font-param(14px, 32px, 400, #000000);
	border-bottom: 1px solid #dddddd;
	margin-bottom: 33px;

 	table {
 		border-collapse: collapse;
 		width: 100%;
 	}

}

.admin__table-head {
	@include font-param(14px, 32px, 700);
	border-bottom: 1px solid #dddddd;

	td {
		padding-bottom: 8px;
	}

}

.admin__table-content {
	@include font-param(14px, 32px, 400, #000000);
	padding-top: 23px;
	padding-bottom: 23px;
	min-height: 279px;

	td {
		padding-bottom: 23px;
	}

}

.admin__edit-block {
	position: relative;
	margin-bottom: 43px;
	@include font-param(14px, 32px, 400);

	input {
		padding-left: 15px;
		margin-left: 10px;
		margin-right: 10px;
	}

	&--pricing {

		input {
			width: 45px;
		}

	}

	&--hours,
	&--supplements {

		input {
			width: 65px;
		}

	}

}

.admin .admin__table-title {
	@include font-param(20px, 32px, 400);
	margin-bottom: 28px;
}

.admin__add-exception {
	display: none;
}

.admin__col {
	width: 40px;

	&--icons {
		float: right;
		position: relative;
	}

}

.admin__icon {
	position: absolute;
	fill: #c0c4c5;
	cursor: pointer;

	&:hover {
		fill: #377220;
	}

	&--edit {
		@include size(14px, 17px);
	}

	&--basket {
		@include size(15px, 16px);
	}

}
