.filters {
	@include clearfix();
	position: relative;
}

.filters__input {
	padding-left: 16px;

	&--period {
		width: 103px;
		margin-left: 7px;
		margin-right: 7px;
	}

	&--admin {
		float: right;
		padding-left: 14px;
	}

	&--requests {
		width: 356px;
		padding-left: 15px;
	}

	&--parts {
		width: 280px;
	}

}

.filters__icon {
	position: absolute;

	&--calendar {
		top: 11px;
		left: 170px;
		cursor: pointer;

		&:hover {
			fill: #5caf32;
		}

	}

	&--loupe {
		top: 44px;
		right: 248px;
	}

}
