.mini-arrow {
	display: inline-block;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: -5px;
		left: 7px;
		width: 7px;
		border-top: 1px solid #cdcdcd;
	}

	&::after {
		content: '';
		position: absolute;
		top: -7px;
		left: 9px;
		@include size(4px, 4px);
		border-bottom: 1px solid #cdcdcd;
		border-right: 1px solid #cdcdcd;
		transform: rotate(-45deg);
	}

}
