.page-header {
	@include font-param(14px, 32px, 400, #2b2b2b);
	@include clearfix();
	border-bottom: 1px solid #dddddd;
	min-height: 69px;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		position: absolute;
		white-space: nowrap;
	}

}

.page-header__logo {
	float: left;
	padding-left: 30px;
	padding-top: 20px;

	img {
		@include size(137px, 30px);
	}


}

.page-header__nav {
	float: left;
	min-width: 390px;
	margin-left: 48px;


	a {
		color: #2b2b2b;
		display: inline-block;
		padding-top: 19px;
		padding-bottom: 19px;
		position: relative;

		&:hover {
			color: #4ba82e;
		}

	}

	li {
		display: inline-block;
		margin-right: 25px;
	}

}

.page-header__link {

	&--active a:hover {
		color: #2b2b2b;
	}

	&--active a::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		border-top: 3px solid #4ba82e;
	}

	&:last-of-type {
		padding-right: 27px;
		margin-right: 0;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 27px;
			left: 87%;
			@include size(16px);
			background-color: #4ba82e;
			border-radius: 50%;
		}

		&::after {
			content: '';
			position: absolute;
			top: 32px;
			left: 90%;
			@include size(7px, 3px);
			border-bottom: 1px solid #ffffff;
			border-left: 1px solid #ffffff;
			transform: rotate(-45deg);
		}

	}

	&--imp:last-of-type {

		&::before,
		&::after {
			display: none;
		}

	}

}

.page-header__user {
	float: right;
	min-width: 310px;
	@include clearfix();
}

.page-header__dealer {
	float: right;
	border-left: 1px solid #dddddd;
	cursor: pointer;
	position: relative;

	.icon {
		position: absolute;
		top: 32px;
		left: 199px;
		transform: translateZ(0);
		transition: transform .3s;
	}

}

.page-header__dealer-name {
	@include size(214px, 52px);
	padding-left: 25px;
	padding-top: 17px;
	border-bottom: none;
}

.page-header__dropped {
	border-bottom: 3px solid #4ba82e;
	height: 50px;
}

.page-header__dropped + .icon {
	transform: rotate(180deg) translateY(3px);
	transition: transform .3s;
}

.page-header__login {
	float: right;
	display: inline-block;
	vertical-align: top;
	@include size(66px);
	border-left: 1px solid #dddddd;
	position: relative;
	margin: 0;
	cursor: pointer;
}

.page-header__icon-login {
	position: absolute;
	@include size(14px, 16px);
	fill: red;
	top: 22px;
	left: 28px;
}

.page-header__dealer-list {
	display: none;
	width: 100%;
	position: absolute;
	top: 100%;
	left: -1px;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	background-color: #ffffff;
	z-index: 2000;

	li {
		padding-left: 25px;
		padding-top: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #dddddd;

		&:last-of-type {
			border-bottom: none;
		}

		&:hover {
			color: #4ba82e;
		}

	}

}

.page-header__submenu {
	@include font-param(14px, 32px, 400, #2b2b2b);
	@include clearfix();
	position: absolute;
	z-index: 3000;
	display: none;
	width: 100%;
	top: 71px;
	background: #ffffff;
	border-bottom: 1px solid #dddddd;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);

	&-wrapper {
		width: 940px;
		margin: 0 auto;
	}

}
