.page-main {
	padding-top: 6px;
}

.page-main__content {
	background: #ffffff;
	position: relative;
	padding: 0 0 30px;
	min-height: 370px;
	clear: both;
	z-index: 1;
}

.page-main__wrapper {
	position: relative;
	z-index: 1200;
	margin: 0 auto;

	&--calc {
		width: 900px;
	}

	&--requests {
		width: 1180px;
		@include clearfix();
	}

}

.page-main__container {
	background: #fff;
	padding: 22px 22px;
	min-height: 100px;
} //.plain_content_wrapper

.page-main__title {
	@include font-param(28px, 32px, 500);
	display: inline-block;
}
