.pagination__item {
	display: inline-block;
	cursor: pointer;
	@include font-param(13px, 32px, 700, #848b8d);
	@include size(30px);
	cursor: pointer;
	text-align: center;

	&--active {
		color: #000000;
		background-color: #dddddd;
		border-radius: 50%;
	}

}

.pagination--dealer {
	display: none;
}
