.requests-list {
	border-bottom: 1px solid #dddddd;

	table {
		border-collapse: collapse;
		width: 100%;
	}

}

.requests-list__head {
	@include font-param(14px, 32px, 700);
	border-bottom: 1px solid #dddddd;

	td {
		padding-bottom: 8px;
	}

}

.requests-list__col {

	&--1 {
		width: 200px;
	}

	&--2 {
		width: 300px;
	}

	&--3 {
		width: 300px;
	}

	&--4 {
		width: 200px;
	}

	&--5 {
		width: 175px;
	}

}

.requests-list__content {

	&--empty {
		@include font-param(18px, 32px, 400, #000000);
		text-align: center;
		height: 274px;
		padding-top: 51px;
		display: none;

		a {
			color: #4ba82e;
			border-bottom: 1px solid #4ba82e;
		}

	}

	&--full {
		// display: none;
		@include font-param(14px, 32px, 400, #000000);
		padding-top: 23px;
		padding-bottom: 23px;

		td {
			padding-bottom: 23px;
		}

	}

}
