.calc {
}

.calc__header {
	position: relative;
}

.calc__title {
	@include clearfix();
}

.calc__headline {
	@include font-param(24px, 27px, 400);

	&--small {
		font-size: 17px;
	}

}

.calc__to-list {
	float: right;
	margin-top: -43px;
	z-index: 1000;
	cursor: pointer;
} //.bodycalc_other

.calc__auto {
	@include clearfix();
	position: relative;
	margin: 0;
	margin-top: 50px;
	margin-bottom: 8px;
} //.bodycalc_auto

.calc__svg-popup {
	display: none;
	position: absolute;
	background: #dcdcdc;
	min-width: 210px;
}//.bodycalc_svg_popup

.calc__content {
	@include clearfix();
} //bodycalc_container

.calc__info {
	width: 484px;
	float: left;
} //bodycalc_info

.calc__damage {
	@include clearfix();
	margin-bottom: 20px;
} //bodycalc_damage

.calc__calc {
	margin-top: 20px;
	border-top: 1px solid #dcdcdc;
} //bodycalc_calc

.calc__form {
	width: 348px;
	float: right;
} //bodycalc_form
