.fancybox {
	display: none !important;
	visibility: hidden;
}

.fancybox__close {
	position: absolute;
	top: 0;
	right: 0;
	width: 36px;
	height: 36px;
	background: #000 url('../img/white-cross.png') center center no-repeat;
	background-size: 17px auto;
	z-index: 10;
	cursor: pointer;
}
