.discounts__col {

	&--1,
	&--2,
	&--3,
	&--5,
	&--8,
	&--9 {
		width: 198px;
	}

	&--4 {
		width: 96px;
	}

	&--6 {
		width: 234px;
	}

	&--10 {
		width: 136px;
	}

	&--11 {
		width: 258px;
	}

	&--12 {
		width: 332px;
	}

}

.discounts__icon {
	top: 9px;

	&--edit {
		left: 3px;
	}

	&--basket {
		left: 27px;
	}

}
