.discounts__col {

	&--1,
	&--2,
	&--3,
	&--5,
	&--8,
	&--9 {
		width: 196px;
	}

	&--4 {
		width: 96px;
	}

	&--6 {
		width: 234px;
	}

	&--10 {
		width: 136px;
	}

	&--11 {
		width: 256px;
	}

	&--12 {
		width: 334px;
	}

}
