.pricing__head {
	margin-bottom: 30px;
}

.pricing__col {

	&--1,
	&--2 {
		width: 398px;
	}

	&--3 {
		width: 338px;
	}

}

.pricing__row {

	.form__select {
		width: 380px !important;
	}

}

.pricing__icon {

	&--edit {
		top: 11px;
		left: 297px;
	}

}
