.profile {

	.breadcrumbs {
		padding-bottom: 20px;
	}

}

.profile__tabs {
	margin-top: 0;
	margin-bottom: 50px;
}

.profile__photo {
	display: inline-block;
	vertical-align: top;
	margin-right: 18px;
	margin-top: 5px;
}

.profile__img {
	@include size(138px, 145px);
	border: 1px solid #dddddd;
	border-radius: 3px;
	position: relative;
	margin-bottom: 10px;
}

.profile__icon {
	@include size(40px);
	fill: #b9b9b9;
	position: absolute;
	top: 55px;
	left: 51px;
}

.profile__info {
	font-size: 14px;
	color: #2b2b2b;
	display: inline-block;
	vertical-align: top;

	span {
		display: block;
		color: #000000;
		margin-top: 10px;
	}

}

.profile__title {
	font-family: 'SkodaPro', sans-serif;
	font-size: 18px;
	font-weight: 400;
	margin: 0;
	margin-bottom: 16px;
}

.profile__personal {
	margin-bottom: 30px;
}

.profile__point {
	margin-bottom: 10px;
}

.profile__job {
	margin-bottom: 26px;
}
