.requests {
	padding: 0;
	padding-bottom: 236px;
}

.requests__title {
	line-height: 0;
}

.requests__head {
	@include clearfix();
	padding-bottom: 16px;
	border-bottom: 1px solid #dddddd;

	a {
		@include font-param(14px, 32px, 400, #4ba82e);
		float: right;
	}

}

.requests__filters {
	padding-top: 30px;
	padding-bottom: 33px;
}

.requests__howmuch {
	@include font-param(13px, 32px, 400);
	padding-top: 30px;
	float: right;
}
