.requests__head {
	margin-bottom: 27px;

	&--imp {
		margin-bottom: 24px;
	}

}

.requests__col {

	&--1 {
		width: 200px;
	}

	&--2 {
		width: 300px;
	}

	&--3 {
		width: 300px;
	}

	&--4 {
		width: 200px;
	}

	&--5 {
		width: 175px;
	}

}

.requests__table-content {

	&--full {
		// display: none;
	}

	&--empty {
		@include font-param(18px, 32px, 400, #000000);
		text-align: center;
		height: 274px;
		padding-top: 51px;
		// display: none;

		a {
			color: #4ba82e;
			border-bottom: 1px solid #4ba82e;
		}

	}

}

.requests__search {
	@include clearfix();
	position: relative;

	input {
		padding-left: 16px;
		float: left;
		width: 1053px;
	}

}
