.stats {
	padding-top: 42px;
}

.stats__head {
	padding-bottom: 20px;
	margin-bottom: 26px;
	border-bottom: 1px solid #dddddd;
}

.stats__title {
	display: inline-block;
	vertical-align: top;
	margin-right: 138px;
}

.stats__filters {
	display: inline-block;
	vertical-align: top;
}

.stats__charts {
	padding-bottom: 36px;
	border-bottom: 1px solid #dddddd;
}
