$font-fam: 'SkodaPro';

$font-1-local: 'SkodaPro';
$font-1-url1: '../fonts/skodapro_regular.woff';
$font-1-url2: '../fonts/skodapro_regular.woff2';

$font-2-local: 'SkodaPro Light';
$font-2-url1: '../fonts/skodapro_light.woff';
$font-2-url2: '../fonts/skodapro_light.woff2';

$font-3-local: 'SkodaPro Medium';
$font-3-url1: '../fonts/skodapro_medium.woff';
$font-3-url2: '../fonts/skodapro_medium.woff2';

$font-4-local: 'SkodaPro Bold';
$font-4-url1: '../fonts/skodapro_bold.woff';
$font-4-url2: '../fonts/skodapro_bold.woff2';

$font-5-local: 'SkodaPro Extrabold';
$font-5-url1: '../fonts/skodapro_extrabold.woff';
$font-5-url2: '../fonts/skodapro_extrabold.woff2';

// Colors
$primary: #0099DA;
$primary_hover: #0068AA;

$grey_100: #1D1F20;
$grey_80: #2F3538;
$grey_60: #808890;
$grey_40: #BDC3C6;
$grey_20: #DEE1E3;
$grey: #F3F5F6;

$bg_blue: $primary;
$bg_grey: $grey;
$bg_white: #FFFFFF;
$bg_power_grey: #DEE1E3;
$bg_power_dark: #2F3538;

$orange: #FAAA00;
$red: #C82E2D;
